= simple_form_for @milestone do |f|
  = f.error_notification
  = f.input :title
  = f.input :start_date
  = f.input :due_date
  = f.input :description
  = f.input :target_type, collection: Milestone.target_types.keys.map {|t_type| [t_type.titleize, t_type]}
  = f.input :target
  = f.input :department, collection: Milestone.departments.keys.map {|departments| [departments.titleize, departments]}
  = f.input :status, collection: Milestone.statuses.keys.map {|status| [status.titleize, status]}
  = f.association :users, as: :check_boxes, label_method: :full_name, value_method: :id
  = f.submit class: 'btn btn-primary'
