<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>



<div id="clients">
  <h2>Contacts</h2>
  <ul>
    <% @user.contacts.each do |contact| %>
      <li>
        <%= contact.full_name %>
        <%= link_to 'View', contact_path(contact) %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
