= simple_form_for [@contact, @property] do |f|
  = f.error_notification
  = f.association :owner,
                  label_method: :fully_identifying_information,
                  value_method: :id,
                  input_html: { data: { 'searchable': true } },
                  hint: link_to('Add a new Owner', new_contact_path, class: 'form-text')
  = f.input :name
  = f.input :description
  = f.input :location
  = f.input :category, collection: Property.categories.keys.map {|category| [category.titleize, category]}
  = f.input :property_type, collection: Property.property_types.keys.map {|p_type| [p_type.titleize, p_type]}
  = f.input :listing_type, collection: Property.listing_types.keys.map {|p_type| [p_type.titleize, p_type]}
  = f.submit class: 'btn btn-primary'
