<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :property_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :property_description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, id: :property_location %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select(:category,
                    Property.categories.keys.map {|category| [category.titleize, category]},
                    {},
                    {
                        id: :property_category
                    }) %>
  </div>

  <div class="field">
    <%= form.label :property_type %>
    <%= form.select(:property_type,
                    Property.property_types.keys.map {|p_type| [p_type.titleize, p_type]},
                    {},
                    {
                        id: :property_property_type
                    }) %>
  </div>

  <div class="field">
    <%= form.label :contact_id, 'Contact' %>
    <%= form.collection_select :contact_id,
                               Contact.all,
                               :id,
                               :full_name,
                               {},
                               { id: :property_contact_id } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
