= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item.active
    Properties

= content_for :filters do
  %nav.nav.nav-pills
    = active_link_to 'All Properties', properties_path, class: 'nav-item nav-link', active: :exact
    = active_link_to 'Properties for Sale', properties_path(listing_type: :for_sale), class: 'nav-item  nav-link', active: :exact
    = active_link_to 'Properties for Lease', properties_path(listing_type: :for_lease), class: 'nav-item  nav-link', active: :exact

= content_for :actions do
  = link_to new_property_path, class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm' do
    %i.fas.fa-user-plus.fa-sm.text-white-50
    Add New Property

.card.shadow-sm.mb-4
  .card-body
    .table-responsive
      %table#dttb-properties.table.table-sm.table-hover{cellspacing: "0", width: "100%"}
        %thead
          %tr
            %th Id
            %th Description
            %th Location
            %th Category
            %th Property type
            %th Listing type
            %th Price
            %th Owner/Agent
        %tfoot
          %tr
            %th Id
            %th Description
            %th Location
            %th Category
            %th Property type
            %th Listing type
            %th Price
            %th Owner/Agent
        %tbody
          - @properties.each do |property|
            %tr
              %td= link_to property.name, property
              %td= property.description
              %td= property.location
              %td{ data: {sort: property.category_before_type_cast } }
                = property.category.titleize
              %td{ data: {sort: property.property_type_before_type_cast } }
                = property.property_type.titleize
              %td.listing_type{ data: {sort: property.listing_type_before_type_cast } }
                = property.listing_type.titleize
              %td= humanized_money_with_symbol property.price
              %td= link_to property.owner.full_name, property.owner