<p id="notice"><%= notice %></p>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%= link_to 'Add Property', new_property_path, class: 'm-0 font-weight-bold' %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-hover" id="dttb-properties" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Category</th>
            <th>Property type</th>
            <th>Contact</th>
          </tr>
          </thead>

          <tfoot>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Category</th>
            <th>Property type</th>
            <th>Contact</th>
          </tr>
          </tfoot>

          <tbody>
          <% @properties.each do |property| %>
            <tr>
              <td><%= link_to property.name, property %></td>
              <td><%= property.description %></td>
              <td><%= property.location %></td>
              <td><%= property.category.titleize %></td>
              <td><%= property.property_type.titleize %></td>
              <td><%= link_to property.contact.full_name, property.contact %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

    </div>
  </div>
</div>