= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item.active
    Properties

.card.shadow-sm.mb-4
  .card-body
    .table-responsive
      %table#dttb-properties.table.table-sm.table-hover{cellspacing: "0", width: "100%"}
        %thead
          %tr
            %th Name
            %th Description
            %th Location
            %th Category
            %th Property type
            %th Listing type
            %th Owner/Agent
        %tfoot
          %tr
            %th Name
            %th Description
            %th Location
            %th Category
            %th Property type
            %th Listing type
            %th Owner/Agent
        %tbody
          - @properties.each do |property|
            %tr
              %td= link_to property.name, property
              %td= property.description
              %td= property.location
              %td{ data: {sort: property.category_before_type_cast } }
                = property.category.titleize
              %td{ data: {sort: property.property_type_before_type_cast } }
                = property.property_type.titleize
              %td{ data: {sort: property.listing_type_before_type_cast } }
                = property.listing_type.titleize
              %td= link_to property.contact.full_name, property.contact