= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Contacts', contacts_path
  %li.breadcrumb-item
    = link_to @contact.full_name, @contact
  %li.breadcrumb-item.active
    Add Property

.row
  .col-md-6.mx-auto
    = card_with_body('Details') do
      = render partial: 'form'