= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Properties', properties_path
  %li.breadcrumb-item.active
    = @property.name

= content_for :actions do
  = link_to new_deal_path(@property), class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm' do
    %i.fas.fa-plus.fa-sm.text-white-50
    Add New Deal

.row
  .col-md-6
    = card_with_body('Details') do
      %dl.row
        %dt.col-md-3 Name
        %dd.col-md-9= @property.name

        %dt.col-md-3 Description
        %dd.col-md-9= @property.description

        %dt.col-md-3 Location
        %dd.col-md-9= @property.location

        %dt.col-md-3 Category
        %dd.col-md-9= @property.category.titleize

        %dt.col-md-3 Property Type
        %dd.col-md-9= @property.property_type.titleize

        %dt.col-md-3 Listing Type
        %dd.col-md-9= @property.listing_type.titleize

        %dt.col-md-3 Owner
        %dd.col-md-9= link_to @property.owner.full_name, @property.owner

      = link_to 'EDIT', edit_property_path(@property), class: 'card-link'
      = link_to 'DELETE', @property, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link text-danger'

  .col-md-6
    = expandable_list(@property.deals, title: 'Deals', id: 'deals', preview: 5) do |deal|
      = link_to deal, class: 'list-group-item list-group-item-action' do
        .d-flex.w-100.justify-content-between
          %h5.mb-1= deal.name
          %small= deal.stage.titleize
        %p.mb-1= humanized_money_with_symbol deal.amount
        %p.mb-1= deal.contact.full_name
        %small= "Deadline: #{time_ago_in_words deal.deadline}"