= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Properties', properties_path
  %li.breadcrumb-item.active
    = @property.name

= content_for :actions do
  = link_to new_property_deal_path(@property), class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm' do
    %i.fas.fa-plus.fa-sm.text-white-50
    Add New Deal

%h2.h6 Details
= render layout: 'layouts/card_with_body' do
  %dl.row
    %dt.col-md-2 Name
    %dd.col-md-10= @property.name

    %dt.col-md-2 Description
    %dd.col-md-10= @property.description

    %dt.col-md-2 Location
    %dd.col-md-10= @property.location

    %dt.col-md-2 Category
    %dd.col-md-10= @property.category.titleize

    %dt.col-md-2 Property Type
    %dd.col-md-10= @property.property_type.titleize

    %dt.col-md-2 Client
    %dd.col-md-10= link_to @property.contact.full_name, @property.contact

  = link_to 'EDIT', edit_property_path(@property), class: 'card-link'
  = link_to 'DELETE', @property, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link text-danger'

%h2.h6 Deals
= render layout: 'layouts/card' do
  .list-group.list-group-flush#deals
    - @property.deals.each do |deal|
      = link_to deal, class: 'list-group-item list-group-item-action' do
        .d-flex.w-100.justify-content-between
          %h5.mb-1= deal.name
          %small= deal.stage.titleize
        %p.mb-1= humanized_money_with_symbol deal.amount
        %p.mb-1= deal.contact.full_name
        %small= "Deadline: #{time_ago_in_words deal.deadline}"