<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @property.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @property.category %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @property.contact.full_name %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Delete Property', @property, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', properties_path %>
