= content_for :breadcrumb do
  %li.breadcrumb-item.active
    Home


= content_for :actions do
  = link_to new_user_path, class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2' do
    %i.fas.fa-user-plus.fa-sm.text-white-50
    Add New User
  = link_to new_milestone_path, class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2' do
    %i.fas.fa-plus.fa-sm.text-white-50
    Add New Milestone
  = link_to new_contact_path, class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2' do
    %i.fas.fa-plus.fa-sm.text-white-50
    Add New Contact
  = link_to new_property_path, class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2' do
    %i.fas.fa-plus.fa-sm.text-white-50
    Add New Property
  = link_to new_deal_path, class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm' do
    %i.fas.fa-plus.fa-sm.text-white-50
    Add New Deal

.row
  .col-md-6
    = expandable_list @user.milestones.active, title: 'Milestones', id: 'milestones', preview: 3 do |milestone|
      = link_to milestone, class: 'list-group-item list-group-item-action' do
        .d-flex.w-100.justify-content-between
          %h5.mb-1= milestone.title
          %small= milestone.target_type.titleize
        %p.mb-1
          %strong Start:
          = milestone.start_date.to_formatted_s(:long)
        %p.mb-1
          %strong End:
          = milestone.due_date.to_formatted_s(:long)
        %p.mb-1
          %strong Target:
          = format_target milestone
        .progress.progress-sm.mr-2
          .progress-bar.bg-info{"aria-valuemax" => milestone.target,
              "aria-valuemin" => 0,
              "aria-valuenow" => milestone.progress,
              role: "progressbar",
              style: "width: #{milestone_percentage milestone}"}

    = expandable_list @user.contacts, title: 'Contacts', id: 'contacts', preview: 3 do |contact|
      = link_to contact, class: 'list-group-item list-group-item-action' do
        .d-flex.w-100.justify-content-between
          %h5.mb-1= contact.full_name
        %p.mb-1= contact.mobile

    = expandable_list @user.properties, title: 'Properties', id: 'properties', preview: 3 do |property|
      = link_to property, class: 'list-group-item list-group-item-action' do
        .d-flex.w-100.justify-content-between
          %h5.mb-1= property.name
          %small= property.property_type.titleize
        %p.mb-1= property.description
        %p.mb-1= property.location
        %small= property.purpose.titleize

  .col-md-6
    = expandable_list @user.deals, title: 'Deals', id: 'deals', preview: 5 do |deal|
      = link_to deal, class: 'list-group-item list-group-item-action' do
        .d-flex.w-100.justify-content-between
          %h5.mb-1= deal.name
          %small= deal.stage.titleize
        %p.mb-1= humanized_money_with_symbol deal.amount
        %p.mb-1= deal.contact.full_name
        %small= "Deadline: #{time_ago_in_words deal.deadline}"