= simple_form_for @contact do |f|
  = f.error_notification
  = f.input :first_name
  = f.input :last_name
  = f.input :mobile
  = f.input :email
  = f.input :date_of_birth, start_year: Date.today.year - 18, end_year: Date.today.year - 100
  = f.input :present_address
  = f.input :notes
  = f.button :submit, class: 'btn-primary'