<p id="notice"><%= notice %></p>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%= link_to 'Add Contact', new_contact_path, class: 'm-0 font-weight-bold' %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-hover" id="dttb-contacts" width="100%" cellspacing="0">

        <thead>
        <tr>
          <th>Full name</th>
          <th>Present address</th>
          <th>Community</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Occupation</th>
          <th>Type of service</th>
          <th>Request date</th>
          <th>Broker</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
          <th>Full name</th>
          <th>Present address</th>
          <th>Community</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Occupation</th>
          <th>Type of service</th>
          <th>Request date</th>
          <th>Broker</th>
        </tr>
        </tfoot>

        <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= link_to contact.full_name, contact %></td>
            <td><%= contact.present_address %></td>
            <td><%= contact.community %></td>
            <td><%= contact.mobile %></td>
            <td><%= contact.email %></td>
            <td><%= contact.occupation %></td>
            <td><%= contact.type_of_service.titleize %></td>
            <td><%= contact.request_date.to_formatted_s(:long) %></td>
            <td><%= link_to contact.broker.full_name, contact.broker %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>