<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @contact.full_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @contact.date_of_birth.to_formatted_s(:long) %>
</p>

<p>
  <strong>Present address:</strong>
  <%= @contact.present_address %>
</p>

<p>
  <strong>Community:</strong>
  <%= @contact.community %>
</p>

<p>
  <strong>Length of stay at present address:</strong>
  <%= @contact.length_of_stay_at_present_address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @contact.occupation %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Personal property:</strong>
  <%= @contact.personal_property %>
</p>

<p>
  <strong>Jointly owned property:</strong>
  <%= @contact.jointly_owned_property %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @contact.agent %>
</p>

<p>
  <strong>Has authority from owner:</strong>
  <%= @contact.has_authority_from_owner %>
</p>

<p>
  <strong>Has site plan:</strong>
  <%= @contact.has_site_plan %>
</p>

<p>
  <strong>Site plan request:</strong>
  <%= @contact.site_plan_request %>
</p>

<p>
  <strong>Search report:</strong>
  <%= @contact.search_report %>
</p>

<p>
  <strong>Search report request:</strong>
  <%= @contact.search_report_request %>
</p>

<p>
  <strong>Valuation report:</strong>
  <%= @contact.valuation_report %>
</p>

<p>
  <strong>Valuation report request:</strong>
  <%= @contact.valuation_report_request %>
</p>

<p>
  <strong>Type of service:</strong>
  <%= @contact.type_of_service %>
</p>

<p>
  <strong>Request details:</strong>
  <%= @contact.request_details %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @contact.request_date.to_formatted_s(:long) %>
</p>

<p>
  <strong>Client signature:</strong>
  <%= @contact.client_signature %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact.broker.full_name %>
</p>

<p>
  <strong>Signature of authorized broker:</strong>
  <%= @contact.signature_of_authorized_broker %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Delete Contact', @contact, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', contacts_path %>

