= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Contacts', contacts_path
  %li.breadcrumb-item.active
    = @contact.full_name

= content_for :actions do
  = link_to new_property_path, class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm' do
    %i.fas.fa-plus.fa-sm.text-white-50
    Add New Property

%h2.h6 Details
= render layout: 'layouts/card_with_body' do
  %dl.row
    %dt.col-md-3 Full name
    %dd.col-md-9= @contact.full_name

    %dt.col-md-3 Mobile
    %dd.col-md-9= link_to @contact.mobile, "tel:#{@contact.mobile}"

    %dt.col-md-3 Email
    %dd.col-md-9= link_to @contact.email, "mailto:frank:#{@contact.email}"

    %dt.col-md-3 Present address
    %dd.col-md-9= @contact.present_address

    %dt.col-md-3 Community
    %dd.col-md-9= @contact.community

    %dt.col-md-3 Length of stay at present address
    %dd.col-md-9= @contact.length_of_stay_at_present_address

    %dt.col-md-3 Occupation
    %dd.col-md-9= @contact.occupation

    %dt.col-md-3 Date of birth
    %dd.col-md-9= @contact.date_of_birth.to_formatted_s(:long)

    %dt.col-md-3 Broker
    %dd.col-md-9= link_to @contact.broker.full_name, @contact.broker

  = link_to 'EDIT', edit_contact_path(@contact), class: 'card-link'
  = link_to 'DELETE', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link text-danger'

%h2.h6 Properties
= render layout: 'layouts/card' do
  .list-group.list-group-flush#properties
    - @contact.properties.each do |property|
      = link_to property, class: 'list-group-item list-group-item-action' do
        .d-flex.w-100.justify-content-between
          %h5.mb-1= property.name
          %small= property.property_type.titleize
        %p.mb-1= property.description
        %p.mb-1= "Location: #{property.location}"
        %small= property.category.titleize