= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Contacts', contacts_path
  %li.breadcrumb-item.active
    = @contact.fully_identifying_information

= content_for :actions do
  = link_to new_property_path, class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2' do
    %i.fas.fa-plus.fa-sm.text-white-50
    Add Property

= content_for :actions do
  = link_to new_deal_path, class: 'd-none d-sm-inline-block btn btn-sm btn-primary shadow-sm' do
    %i.fas.fa-plus.fa-sm.text-white-50
    Add New Deal

.row
  .col-md-6
    = card_with_body('Details') do
      %dl.row
        %dt.col-md-4 First name
        %dd.col-md-8= @contact.first_name

        %dt.col-md-4 Last name
        %dd.col-md-8= @contact.last_name

        %dt.col-md-4 Mobile
        %dd.col-md-8= link_to @contact.mobile, "tel:#{@contact.mobile}"

        %dt.col-md-4 Email
        %dd.col-md-8= link_to @contact.email, "mailto:frank:#{@contact.email}"

        %dt.col-md-4 Date of birth
        %dd.col-md-8= @contact.date_of_birth.to_formatted_s(:long)

        %dt.col-md-4 Present address
        %dd.col-md-8= @contact.present_address

        %dt.col-md-4 Notes
        %dd.col-md-12= @contact.notes

      = link_to 'EDIT', edit_contact_path(@contact), class: 'card-link'
      = link_to 'DELETE', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link text-danger'

    = expandable_list(@contact.properties, title: 'Properties', id: 'properties') do |property|
      = link_to property, class: 'list-group-item list-group-item-action' do
        .d-flex.w-100.justify-content-between
          %h5.mb-1= property.id
          %small= property.property_type.titleize
        %p.mb-1= property.description
        %p.mb-1= "Location: #{property.location}"
        %small= property.category.titleize

  .col-md-6
    = expandable_list(@contact.deals, title: 'Deals', id: 'deals', preview: 5) do |deal|
      = link_to deal, class: 'list-group-item list-group-item-action' do
        .d-flex.w-100.justify-content-between
          %h5.mb-1= deal.name
          %small= deal.stage.titleize
        %p.mb-1= humanized_money_with_symbol deal.amount
        %p.mb-1= deal.property.full_name
        %small= "Deadline: #{time_ago_in_words deal.deadline}"