= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Deals', deals_path
  %li.breadcrumb-item
    = link_to @deal.deal_number, @deal
  %li.breadcrumb-item.active
    Edit

.row
  .col-md-6.mx-auto
    = card_with_body('Details') do
      = render partial: 'form'
