= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item.active
    Deals

.card.shadow-sm.mb-4
  .card-body
    .table-responsive
      %table#dttb-deals.table.table-sm.table-hover{cellspacing: "0", width: "100%"}
        %thead
          %tr
            %th Deal Number
            %th Contact
            %th Property
            %th Type of service
            %th Amount
            %th Request date
            %th Deadline
            %th Stage
            %th Expiration date
        %tfoot
          %tr
            %th Deal Number
            %th Contact
            %th Property
            %th Type of service
            %th Amount
            %th Request date
            %th Deadline
            %th Stage
            %th Expiration date
        %tbody
          - @deals.each do |deal|
            %tr
              %td= link_to deal.deal_number, deal
              %td= link_to deal.contact.full_name, deal.contact
              %td= link_to deal.property.name, deal.property
              %td= deal.type_of_service.titleize
              %td= humanized_money_with_symbol deal.amount
              %td{ data: {sort: deal.request_date.strftime("%Y%m%d%H%M%s") } }
                = deal.request_date.to_formatted_s(:long)
              %td{ data: {sort: deal.deadline.strftime("%Y%m%d%H%M%s") } }
                = deal.deadline.to_formatted_s(:long)
              %td{ data: {sort: deal.stage_before_type_cast } }
                = deal.stage.titleize
              %td{ data: {sort: deal.expiration_date.strftime("%Y%m%d%H%M%s") } }
                = deal.expiration_date.to_formatted_s(:long)
