= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Properties', properties_path
  %li.breadcrumb-item
    = link_to @property.name, @property
  %li.breadcrumb-item.active
    Add Deal

= render partial: 'form', layout: 'layouts/card_with_body'


