= content_for :breadcrumb do
  %li.breadcrumb-item
    = link_to 'Home', root_path
  %li.breadcrumb-item
    = link_to 'Deals', deals_path
  %li.breadcrumb-item.active
    = @deal.deal_number


.row
  .col-md-6
    = card_with_body('Details') do
      %dl.row
        %dt.col-md-4 Deal Number
        %dd.col-md-8=  @deal.deal_number

        %dt.col-md-4 Client
        %dd.col-md-8= link_to @deal.contact.full_name, @deal.contact

        %dt.col-md-4 Property
        %dd.col-md-8= link_to @deal.property.full_name, @deal.property

        %dt.col-md-4 Type of service
        %dd.col-md-8= @deal.type_of_service.titleize

        %dt.col-md-4 Request date
        %dd.col-md-8= @deal.request_date.to_formatted_s(:long)

        %dt.col-md-4 Request details
        %dd.col-md-8= @deal.request_details

        %dt.col-md-4 Amount
        %dd.col-md-8= humanized_money_with_symbol @deal.amount

        %dt.col-md-4 Broker
        %dd.col-md-8= link_to @deal.broker.full_name, @deal.broker

        %dt.col-md-4 Deadline
        %dd.col-md-8= @deal.deadline.to_formatted_s(:long)

        %dt.col-md-4 Stage
        %dd.col-md-8= @deal.stage.titleize

        %dt.col-md-4 Date of closing
        %dd.col-md-8= @deal.date_of_closing&.to_formatted_s(:long)

        %dt.col-md-4 Expiration date
        %dd.col-md-8= @deal.expiration_date.to_formatted_s(:long)

      = link_to 'EDIT', edit_deal_path(@deal), class: 'card-link'
      = link_to 'DELETE', @deal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link text-danger'