= simple_form_for [@deal, activity], remote: true do |f|
  = f.error_notification
  = f.input :title, placeholder: 'Enter your task', label: false, required: true
  = f.input :description, as: :trix_editor, placeholder: 'Notes...', label: false
  = f.association :broker,
    label_method: :full_name,
    value_method: :id,
    prompt: 'Choose a broker'
  = f.input :due_date
  = f.input :completion_date
  = f.button :submit, 'Save activity', class: 'btn-primary'